.navbar{
    background-color:rgb(0, 183, 255);
    height: 3.2cm;
    margin-left: -0.2cm;
    margin-top: -0.42cm;
    width: 101%;
}
.navbar ul button{
    background-color: navy;
    border: 3px solid navy;
    margin: 10px;
    margin-left: 1cm;
    height: 1.5cm;
    width: 4.5cm;
    border-radius: 10px 10px 0px 0px;
    color: whitesmoke;
    font-weight: 20px;
    margin-top: -2cm;
}
.log{
    height: 20px;
    width: 20px;
}
.navbar ul button:hover{
    background-color: rgb(255, 0, 51);
    border: 3px solid rgb(255, 0, 51);
    color: rgb(255, 255, 255);
    margin-top: -2cm;

    transition: 0.2s;

}
.sch-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}
.SCH-NAME{
    margin-top: -4cm;
    margin-left: 3.8cm;
    font-family: "arial black";
    color: rgb(255, 241, 112);
}
.Offer{
    text-align: center;
    color: rgb(0, 183, 255);
    font-family: "arial black";
    font-size: 25px;

}
.sec-1{
    background: linear-gradient(rgb(253, 255, 116),#fffd7d1e);
    margin-left: -0.2cm;
    margin-top: -0.5cm;
    height: 8cm;
    width: 101%;
}
.course{
    background-color: rgb(255, 242, 125);
    border: 3px solid rgb(255, 242, 125);
    border-radius: 15px;
    height: 10cm;
    width: 8.5cm;
    margin: 50px;
    color: rgb(0, 183, 255);
    font-size: 20px;
}
.course1{
    background-color: rgb(255, 242, 125);
    border: 3px solid rgb(255, 242, 125);
    border-radius: 15px;
    height: 10cm;
    width: 8.5cm;
    margin: 50px;
    color: rgb(0, 183, 255);
    font-size: 20px;
}
.course:hover{
    background:linear-gradient(#fffd7d1e,crimson);
    border: 3px solid rgb(0, 183, 255);
    border-radius: 15px;
    font-size: 20px;
    margin: 50px;
    transition: 2.2s;

}
.list{
    color: black;
}
.course1:hover{
    background:linear-gradient(#fffd7d1e,crimson);
    border: 3px solid rgb(0, 183, 255);
    border-radius: 15px;
    margin: 50px;
    font-size: 20px;
    transition: 2.2s;
}
#admis{
    text-align: center;
    font-family: "arial black";
    color: rgb(0, 183, 255);

}